.pagination {
    font-size: 0.7em;
    margin: 2em 0;

    a {
        text-decoration: none;
    }

    span.disabled, a {
        margin-right: 1em;
        border: 1px solid #ccc;
        padding: .5em 1em;
    }

    span.gap {
        margin-right: 1em;
    }
}
